<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCDjBlVi0PAwwVpx7RcCxyjwLWy9YhvvdU</string>
	<key>GCM_SENDER_ID</key>
	<string>613368215261</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebasePractice</string>
	<key>PROJECT_ID</key>
	<string>flutterpractice-2bfca</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterpractice-2bfca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:613368215261:ios:a311bb470b518169674d34</string>
</dict>
</plist>